// Colors --------------------------------------------------
$colors: (
  bg                  : #f5f8fa,
  bg-abs              : #00122f,
  bg-abs-lighter      : lighten(#00122f, 10%),
  bg-main             : #002662,
  bg-lighter          : lighten(#002662, 20%),
  bg-lightest         : lighten(#002662, 40%),
  text                : #444444,
  text-shadow1        : rgba(255, 255, 255, 0.80),
  text-shadow2        : darken(rgba(255, 255, 255, 0.50), 80%),
  text-alt            : rgba(255, 255, 255, 0.80),
  text-white          : #ffffff,
  text-black          : #000000,
  menu-stop1          : #dbdada,
  menu-stop2          : darken(#dbdada, 20%),
  link                : #2c679b,
  link-hover          : lighten(#2c679b, 20%),
  link-active         : lighten(#2c679b, 40%),
  linkalt             : #00ced1,
  linkalt-hover       : lighten(#00ced1, 10%),
  linkalt-active      : lighten(#00ced1, 20%),
  accent              : #881a1d,
  accent-dark         : darken(#881a1d, 10%),
  accent-darker       : darken(#881a1d, 20%),

  napkin-stop1        : #f04d3f,
  napkin-stop2        : darken(#f04d3f, 10%),
  coaster-stop1       : #f5821f,
  coaster-stop2       : darken(#f5821f, 5%),
  stirpik-stop1       : #ffd64f,
  stirpik-stop2       : darken(#ffd64f, 5%),
  plate-stop1         : #5ba5a6,
  plate-stop2         : darken(#5ba5a6, 5%),
  cup-stop1           : #135d83,
  cup-stop2           : darken(#135d83, 5%),
  utensil-stop1       : #7f5785,
  utensil-stop2       : darken(#7f5785, 5%),

  digital             : #7e37d6,
  tradition           : #fcaf17,
  hispeed             : #74b44d,
);

// Gradients --------------------------------------------------
$gradients: (
  menu                : linear-gradient(color(menu-stop1), color(menu-stop2)),
  sidebar             : linear-gradient(to bottom, lighten(color(bg-abs), 10%), lighten(color(bg-abs), 5%)),
  accent-selected     : linear-gradient(to bottom, darken(color(accent), 5%), darken(color(accent), 10%)),
  accent              : linear-gradient(to bottom, darken(color(accent), 10%), darken(color(accent), 20%)),
  swatch-bg           : linear-gradient(to bottom, lighten(color(bg-abs), 10%), lighten(color(bg-abs), 5%)),

  napkin              : linear-gradient(to bottom, color(napkin-stop1), color(napkin-stop2)),
  coaster             : linear-gradient(color(coaster-stop1), color(coaster-stop2)),
  stirpik             : linear-gradient(color(stirpik-stop1), color(stirpik-stop2)),
  plate               : linear-gradient(color(plate-stop1), color(plate-stop2)),
  cup                 : linear-gradient(color(cup-stop1), color(cup-stop2)),
  utensil             : linear-gradient(color(utensil-stop1), color(utensil-stop2)),

  digital             : linear-gradient(to bottom, darken(color(digital), 20%), darken(color(digital), 30%)),
  tradition           : linear-gradient(to bottom, darken(color(tradition), 20%), darken(color(tradition), 30%)),
  hispeed             : linear-gradient(to bottom, darken(color(hispeed), 20%), darken(color(hispeed), 30%)),
  digital-selected    : linear-gradient(to bottom, darken(color(digital), 10%), darken(color(digital), 20%)),
  tradition-selected  : linear-gradient(to bottom, darken(color(tradition), 10%), darken(color(tradition), 20%)),
  hispeed-selected    : linear-gradient(to bottom, darken(color(hispeed), 10%), darken(color(hispeed), 20%)),
);
