// Colors --------------------------------------------------
$colors: (
  black-abs           : #000000,
  black-abs-lighter   : lighten(#000000, 20%),
  bg-abs              : #ffffff,
  bg-main             : #333333,
  bg-lighter          : lighten(#333333, 30%),
  bg-lightest         : lighten(#333333, 60%),
  text                : #444444,
  text-shadow1        : #ffffff,
  text-shadow2        : darken(#444444, 60%),
  text-alt            : lighten(#444444, 50%),
  menu-text           : #666666,
  menu-stop1          : #dbdada,
  menu-stop2          : darken(#dbdada, 20%),
  link                : #2c679b,
  link-hover          : lighten(#2c679b, 20%),
  link-active         : lighten(#2c679b, 40%),
  linkalt             : #00ced1,
  linkalt-hover       : lighten(#00ced1, 10%),
  linkalt-active      : lighten(#00ced1, 20%),
  accent              : #1584c9,

  table-row-odd       : lighten(#666666, 50%),
  table-row-even      : lighten(#666666, 70%),
  table-text          : #333333,
  table-header        : #f9f9f9,

  napkin-stop1        : #f04d3f,
  napkin-stop2        : darken(#f04d3f, 10%),
  coaster-stop1       : #f5821f,
  coaster-stop2       : darken(#f5821f, 5%),
  stirpik-stop1       : #ffd64f,
  stirpik-stop2       : darken(#ffd64f, 5%),
  plate-stop1         : #5ba5a6,
  plate-stop2         : darken(#5ba5a6, 5%),
  cup-stop1           : #135d83,
  cup-stop2           : darken(#135d83, 5%),
  utensil-stop1       : #7f5785,
  utensil-stop2       : darken(#7f5785, 5%),

  method              : #999999,
  digital             : #7e37d6,
  tradition           : #fcaf17,
  hispeed             : #74b44d,
);

// Gradients --------------------------------------------------
$gradients: (
  background1         : linear-gradient(to bottom, lighten(color(black-abs), 20%), color(black-abs)),
  menu                : linear-gradient(to bottom, color(menu-stop1), color(menu-stop2)),
  menu-alt            : linear-gradient(to bottom, darken(color(menu-stop1), 30%), darken(color(menu-stop2), 30%)),
  sidebar             : linear-gradient(to bottom, lighten(color(black-abs), 30%), lighten(color(black-abs), 10%)),
  sidebar-rev         : linear-gradient(to top, lighten(color(black-abs), 30%), lighten(color(black-abs), 10%)),
  accent-selected     : linear-gradient(to bottom, darken(color(accent), 10%), darken(color(accent), 20%)),
  accent              : linear-gradient(to bottom, darken(color(accent), 20%), darken(color(accent), 30%)),
  accent-right        : linear-gradient(to right, darken(color(accent), 20%), darken(color(accent), 30%)),
  swatch-bg           : linear-gradient(to bottom, lighten(color(black-abs), 20%), lighten(color(black-abs), 10%)),

  napkin              : linear-gradient(to bottom, color(napkin-stop1), color(napkin-stop2)),
  coaster             : linear-gradient(to bottom, color(coaster-stop1), color(coaster-stop2)),
  stirpik             : linear-gradient(to bottom, color(stirpik-stop1), color(stirpik-stop2)),
  plate               : linear-gradient(to bottom, color(plate-stop1), color(plate-stop2)),
  cup                 : linear-gradient(to bottom, color(cup-stop1), color(cup-stop2)),
  utensil             : linear-gradient(to bottom, color(utensil-stop1), color(utensil-stop2)),

  method              : linear-gradient(to bottom, darken(color(method), 30%), darken(color(method), 40%)),
  method-selected     : linear-gradient(to bottom, darken(color(method), 10%), darken(color(method), 20%)),
  digital             : linear-gradient(to bottom, darken(color(digital), 20%), darken(color(digital), 30%)),
  tradition           : linear-gradient(to bottom, darken(color(tradition), 20%), darken(color(tradition), 30%)),
  hispeed             : linear-gradient(to bottom, darken(color(hispeed), 20%), darken(color(hispeed), 30%)),
  digital-selected    : linear-gradient(to bottom, darken(color(digital), 10%), darken(color(digital), 20%)),
  tradition-selected  : linear-gradient(to bottom, darken(color(tradition), 10%), darken(color(tradition), 20%)),
  hispeed-selected    : linear-gradient(to bottom, darken(color(hispeed), 10%), darken(color(hispeed), 20%)),
);
