// Images --------------------------------------------------
//noinspection CssUnknownTarget
$images: (
  bg-main                   : url("/storage/images/background-yachts4-2800x1600.jpg"),
  bg-hero                   : url("/storage/images/hero-01.jpg"),
  logo-main                 : url("/storage/images/logo/acs-logo-2017-01.svg"),
);
