// Fonts --------------------------------------------------
$fonts: (
  sans-serif            : #{'Raleway', sans-serif},
  script                : #{'spumante', script},
  paragraph             : #{'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif},
  headings              : #{'proxima-nova-extra-condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif},
  mono                  : #{"fira-mono", Monaco, monospace},
);

//$font-size-base: 0.9rem;

//$line-height-base: 1.6;
